form {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    display: block;
    margin: 0.75rem auto 0;
    max-width: 500px;
    padding: 1rem;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

input {
  font-size: 1em;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color:green;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
}
input:focus {
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}



textarea input {
  resize: vertical;
}



label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  color: red;
}

input + label {
  margin-top: 2rem;
}


.button{
    background: darkblue;
    border: 1px solid darkblue;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.25rem;
}
.button.centered {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
