.link {
  color: #555;
  font-size: 1rem;
  line-height: 1;
  margin-left: 4px;
  padding: 0.25rem;
  text-decoration: none;
}
.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 550px - 1rem) / 2);
}
.nav {
  margin-top: 0;
  padding: 0;
}
.logo:hover,
.logo:focus {
  border-bottom: 3px solid transparent;
}
